

    <img id = 'img{{image.id}}' class = 'cropped open_modal{{image.id}}' src ={{image.pet_img.url}}>
    <div id = 'stat{{image.id}}' class = 'stats' >
        {% if session_user != image.user %}
            <h2>"{{image.name}}"</h2>
            <p class = 'name'>{{image.desc}}</p>
            <div id = 'replace{{image.id}}' >
                {% include 'modules/stats.html' %}
            </div>
        {% else %}
            <h2 class = 'self_stats'>"{{image.name}}"</h2>
            <div id = 'replace{{image.id}}' class= 'self_stats' >
                {% include 'modules/stats.html' %}
            </div>
        {% endif %}
    </div>
