<!-- MODAL -->

<div id="comment_modal" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">

                <div class ='left'>
                    <img class="cropped2" src = {{image.pet_img.url}}>
                    <div class = 'stats'>
                       {% include 'modules/stats.html' %}
                    </div>
                    <p>Posted by:{{image.user.user_name}}</p>
                    <p>{{image.desc}}</p>
                </div>

                <div class= 'right'>
                <div class = top>
                    <p class = 'name'>{{image.name}}</p>
                    {% include 'modules/comment.html' %}
                </div>
                
                    {% if image.comments.all.count == 0 %}
                    <div class = 'no_comments'>
                    {% else %}
                    <div class = 'comments'>
                    {% for comment in image.comments.all reversed %}
                        {% include 'modules/single_comment.html' %}
                    {% endfor %}
                    {% endif %}
                </div>       

                </div>
            </div>
        </div> 
    </div>
</div>
<!-- END MODAL -->

<script>

</script>