

<div id="comment_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">

                <section class ='left'>
                    <i class="fas fa-times close_modal"></i>
                    <img class="cropped2" src = '{{image.pet_img.url}}' alt='pet image'>
                    <div class = 'stats'>
                        {% include 'modules/stats.html' %}
                    </div>
                    <p>Posted by:</p>
                    {% if image.desc %}
                    <p>{{image.desc}}</p>
                    {% endif %}
                    <p>{{image.user.user_name}}</p>
                </section>

                <section class= 'right'>
                    <header class = top>
                        <h1 class = 'pet_name'>{{image.name}}</h1>
                        {% with component='from_modal' %}
                            {% include 'modules/comment_form.html' %}
                        {% endwith %}
                    </header>
                    
                    {% include 'modules/modal_comments.html' %}


                </section>
            </div>
        </div> 
    </div>
</div>
