<!-- MODAL -->

<div id="comment_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">

                <div class ='left'>
                    <i class="fas fa-times close_modal"></i>
                    <img class="cropped2" src = {{image.pet_img.url}}>
                    <div class = 'stats'>
                       {% include 'modules/stats.html' %}
                    </div>
                    <p>Posted by:</p>
                    <p>{{image.user.user_name}}</p>
                    <p>"{{image.desc}}"</p>
                </div>

                <div class= 'right'>
                <div class = top>
                    <p class = 'name'>{{image.name}}</p>
                    {% with component='from_modal' %}
                        {% include 'modules/comment_form.html' %}
                    {% endwith %}
                </div>
                
                <div id= 'replace_comments'>
                    {% include 'modules/modal_comments.html' %}
                </div>

                </div>
            </div>
        </div> 
    </div>
</div>
<!-- END MODAL -->

<script>

</script>