<div id="TOP_long" class='opacity'>
    <nav>
        <div>
            <h2>PetsConnect</h2>
            {% if session_user.user_level == 9 %}
            <div class = 'horizontal'>
                
                <a href = '/explore/admin'><i class="fas fa-compass" data-placement="bottom" title= 'Explore' ></i></a>
                <a href = '/logout'><i class="fas fa-arrow-alt-circle-right" data-placement="bottom" title= 'Sign Out' ></i></a>
            </div>
            {% else  %}


            <div class="dropdown">
                <button type="button" data-toggle="dropdown"><i class= 'fas fa-bars'></i></button>
                <ul class="dropdown-menu">
                  <li><a class = 'explore' href = '/explore'>Explore</a></li>
                  <li><a class = 'bulletin' href = '/bulletin/{{session_user.id}}/0/0'>Bulletin Board</a></li>
                  <li><a class = 'profile' href = '/profile/{{session_user.id}}'>Your Profile</a></li>
                  <li><a class = 'logout' href = '/logout'>Sign Out</a></li>
                </ul>
            </div>
            <div class = 'horizontal'>
                
                <a href = '/explore'><i class="fas fa-compass" data-placement="bottom" title= 'Explore' ></i></a>
                <a href = '/bulletin/{{session_user.id}}/0/0'><i class="fas fa-users" data-placement="bottom" title= 'Bulletin' ></i></a>
                <a href = '/profile/{{session_user.id}}'><i class="fas fa-user" data-placement="bottom" title= 'Profile' ></i></a>
                <a href = '/logout'><i class="logout fas fa-arrow-alt-circle-right" data-placement="bottom" title= 'Sign Out' ></i></a>
            </div>
        {% endif %}
        </div>
    </nav>
</div>
