<div id="TOP_long" class='opacity'>
    <nav>
        <div>
            <h2>PetsConnect</h2>
            <div class="dropdown">
                <button type="button" data-toggle="dropdown"><i class= 'fas fa-bars'></i></button>
                <ul class="dropdown-menu">
                  <li><a class = 'register' href = '/register'>Register</a></li>
                  <li><a class = 'login' href = '/signin'>Sign In</a></li>
                </ul>
            </div>

            <div class = 'horizontal'>
                <div>
                    <div>
                        <a href = '/register'>Register</a>
                        <a href = '/signin'>Sign In</a>
                    </div>
                </div>
            </div>


        </div>
    </nav>
</div>
