<nav id = 'NAV_BAR' class = 'opacity'>
    <div class= 'nav_menus'>
        <h2>PetsConnect</h2>

        <ul class = 'horizontal_menu'>
            <li><a href = '/register'>Register</a></li>
            <li><a href = '/signin'>Sign In</a></li>
        </ul>

        <menu class="dropdown">
            <button type="button" data-toggle="dropdown"><i class= 'fas fa-bars'></i></button>
            <ul class="dropdown-menu signin">
                <li><a href = '/register'>Register</a></li>
                <li><a href = '/signin'>Sign In</a></li>
            </ul>
        </menu>
    
    </div>
</nav>


