<article class = 'person'>
    <div class = 'outline'>
        {% if image.user.id != none %}
            <a href = '/profile/{{image.user.id}}'>
        {% else %}
            <a href = '/profile/{{user.id}}'>
        {% endif %}
                {% include 'modules/user_img.html' %}
            </a>        
        </div>
        
        {% if image.user.id != none %}
            <a class = 'user_info' href = '/profile/{{image.user.id}}'>
        {% else %}
            <a class = 'user_info' href = '/profile/{{user.id}}'>
        {% endif %}
            <p>{{user.user_name}}</p>
            <p class = 'user_email'>{{user.email}}</p>
        </a> 
    </article>