
<div class = 'post'>
    {% with user=image.user %}
    {% include 'modules/person.html' %}
    {% endwith %}
    <img src = '{{image.pet_img.url}}'>
    <div class = 'stats'>
        {% include 'modules/stats.html' %}
        {% if image.loves.count == 1 %}
        <p>{{image.loves.count}} person loves {{image.name}}!</p>
        {% elif image.loves.count > 1 %}
        <p>{{image.loves.count}} people love {{image.name}}!</p>
        {% else %}
        <p>click to give this pet some love!</p>
        {% endif %}

        <iframe src = '/comment_frame/{{image.id}}'></iframe>

    </div>
</div>