
<div class = 'post'>
    {% with user=image.user %}
    {% include 'modules/person.html' %}
    {% endwith %}
    <img src = '{{image.pet_img.url}}'>
    <div class = 'stats'>
        {% include 'modules/stats.html' %}
        <p>{{image.loves.count}} loves</p>
<!--         
        {% for comment in image.comments.all|slice:":3" %}
            <h2>{{comment.user.user_name}}: <span>{{comment.text}}</span></h2>
        {% endfor %}

        {% if image.comments.all.count > 3 %}
            <h3><a Show all {{image.comments.count}} comments </h3>
        {% endif %} -->
        <iframe src = '/comment_frame/{{image.id}}'></iframe>
    
        <!-- {% with component='post'%}
        {% include 'modules/comment.html' %}
        {% endwith %} -->

    </div>
</div>