<!-- Modal -->
<div id="search_modal" class="modal fade" role="dialog">
    <div class="modal-dialog users_dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
          <div class = 'error'></div>
          <form>
            {% csrf_token %}
            <input class= 'search_email' type = 'text' placeholder='search' name = 'email'>
            <button class='search btn btn-info btn-lg'>Search</button>
          </form>
        </div>
        <div class="modal-body">
        </div>
      </div>
  
    </div>
</div>