
    {% if session_user == image.user %}
    <p>
        <i id={{image.id}} data-placement="bottom" class="fas fa-heart" title="Pet Loves"></i><span> {{image.loves.count}}</span> 
        <button id = {{image.id}} class = 'open_modal{{image.id}}x' type = 'button' ><i data-placement="bottom" class="fas fa-comment-alt" title ="Comments"></i></button> <span>{{image.comments.count}}</span>
    </p>
    <div class = 'edit_stats'>
        <a href='/process_remove_image/{{image.id}}/{{location}}'>Delete </a> |
        <a href='#'>  Edit</a>
    </div>
    

    {% else %}
    <p>
        {% if session_user in image.user.being_followed.all %}
    
        {% else %}
        <a href="/process_follow/{{image.id}}/{{image.user.id}}/{{location}}"><i data-placement="bottom" class="fas fa-podcast" title ="Follow User"></i></a><span>{{image.user.being_followed.count}}</span>
        {% endif %}

        {% if session_user in image.loves.all %}
        <a><i id={{image.id}} data-placement="bottom" class="fas fa-heart loved" title="Already Loved"></i></a><span class = 'loved'> {{image.loves.count}}</span>
        {% else %}
        <a><i id={{image.id}} data-placement="bottom" class="fas fa-heart" title="Love Pet"></i></a><span> {{image.loves.count}}</span>
        {% endif %}

        <button id = {{image.id}} class = 'open_modal{{image.id}}x' type = 'button' ><i data-placement="bottom" class="fas fa-comment-alt" title ="Comment"></i></button><span>{{image.comments.count}}</span>
    </p>
    {% endif %}

    

