@import 'person.css';
@import 'post.css';
@import 'stats.css';

nav .fa-users::before, nav a.bulletin{
    color: gray;
}

body {
   
}



header a.search_btn{
    text-decoration: underline;
    color: var(--blue1);
    cursor: pointer;
}

header h3, header a {
    margin:0px;
}

.stats_board {
    display: unset;
}
.user , .followers{
    position:sticky;
    
}


.user {
    display:flex;
    top: 105px;
    align-items: center;
}
.session_user .user_img{
    width: 80px;
    height: auto;
    border: none;
}

.session_user .person {
    width:fit-content;
}

.person {
    width: 16%;
}
.person .user_email {
    display:none;
}


.btn-info {
    margin-bottom: 20px;
    background-color: var(--blue1);
    border: none;
    
}


.post {
    margin-bottom: 20px;
    border:1px solid grey;
}

input {
    height:40px;
    width:100%;
    margin: 0 auto; 
    background-color:transparent;
    border:none;
}

#search_modal .person .user_email {
    display:unset;
}
#interface_block_two {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    padding-top: 20px;
    background-color: white;
    padding:30px;

}

.left_side {
    width:55%;  
}
    .following {
        display:flex;
        flex-wrap: wrap;
        height:140px;
        border:2px dotted var(--blue1);
        min-width: 70px;
        padding:10px;
        border-radius: 5px;
        overflow: scroll;
        margin-bottom: 50px;
    }

    .left_side .post .user_img {
        border:none;
        width: 60px;
    }

    .left_side .post .person{
        display:flex;
        align-items: center;
        width:200px;
    }

    .left_side .post .person p,  .right_side .followers .person p{
        font-weight: bold;
        font-size:14px;
    }

    .search_btn_grp{
        width:100%;
    }
        .search_btn_grp button {
            width: 100%;
            font-size: 17px;
        }


section.right_side {
    position: relative;
    top: -100px;
    background-color: #D0E7E7;
    width: 40%;
    padding-left: 20px;
    padding-right: 30px;
    display:flex;
    margin-bottom: -150px;
    flex-direction: column;
    scroll-behavior: none;
    border-left: 2px dotted var(--blue1);
    border-right: 2px dotted var(--blue1);
}
    .right_side h2 {
        font-size: 18px;
        font-family: 'Montserrat Alternates', sans-serif;
        margin: 0;
    }

    .right_side .person .user_info {
        display:none;
    }

    .right_side .person .outline {
        padding: 0;
    }

    .followers {
        width: 100%;
        top:220px;
        
    }
        .followers header {

            color: teal;
            margin-bottom: 20px;
            margin-left:20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .followers .person {
            width:75px;
        }
            .followers .person .user_img{
                width:50px;
                border:none;
                height:auto;
            }

            .followers .follower_info{
                margin:0;
                font-size: 15px;
                color: teal;
                height:fit-content;
            }
                .followers .follower_info p {
                    margin: 0;
                }


@media (max-width:769px){
    #interface_block_two {
        width: 90%;
    }

    .person{
        width:17%;
    }
    .left_side {
        width: 100%;
        margin: 0 auto; 
    }
    section.right_side{
        display:none;
    }

    .single_comment i {
        font-size: 25px;
        margin-bottom: 10px;
    }
}


@media (max-width: 1200px){

    .right_side {
        width: 50%;
    }

    .session_user {
        display:flex;
        flex-direction: column;
    }

    .followers {
        top: 255px;
    }  

    .followers .heading {
        flex-direction: column;
    }
    .followers .heading h3{
        display:none;
    }

    .followers .heading p {
        display:none;
    }

    .session_user div {
        text-align:center;
        width: 100%;
    }
    .right_side .user div {
        width: 100%;
    }

.right_side .session_user .user_img {
    width: 90px;
    height: 90px;
}
}



@media (max-width:501px){
    #interface_block_two {
        width: 90%;
    }

    .person{
        width:20%;
    }

    .left_side {
        width: 100%;
        margin: 0 auto; 
    }
    .right_side{
        display:none;
    }
}


@media (max-width:426px){
    .person{
        width:20%;
    }
    #interface_block_two {
        width:100%;
        padding: 10px;
    }

    .post p.loves {
        font-size:15px;
    }


}

@media (max-width:326px){
    .person{
        width:28%;
    }

}

@media (max-width:281px){
    .person{
        width:27%;
    }

}