    @import 'global.css';
    @import 'bulletin.css';
    
    body {
        background-color: transparent;  
        width: 100%;  
    }

    h2 {
        font-size:16px;
        margin:0px;  
        margin-bottom: 10px;
        display:inline-block;  
    }

    h3 {
        font-size: 16px;
        margin:0px;
        margin-top:10px;
    }
    span {
        font-size:16px;
    }

    .post_comment {
        position:absolute;
        bottom:0;
    }

    #comment_frame div {

        width: 90%;
        display:flex;
        justify-content: space-between;
    }

    i {
        font-size:18px;
    }