@import 'stats.css';
@import 'image.css';
@import 'modal.css';
@import 'single_comment.css';
@import 'share_pet.css';


.dimage .edit_stats a {
    display:none;
}

a {
    display: flex;
    margin: 0px;
    padding: 0px;
    width:fit-content;
    text-decoration: none;
    color: unset;
}


nav .fa-compass::before, nav a.explore{
    color:grey;
}

#interface_block_one{
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
}

.dashboard .guest_message {
    border-radius: 5px;
    background-color: #C6E2E2;
    font-style: italic;
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px dotted var(--blue1);
    width: 49%;
    margin:3px;
}
.dashboard .guest_message h2 {
    font-size: 18px;
}

.dashboard .guest_message i::before{
    margin-right: 4px;
    margin-left: 10px;
    font-size: 20px;
}

.dashboard aside.icons {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--blue1);
    align-items: center;
    width: 99%;
    margin-bottom:10px;
}

aside.icons div {
    display:flex;
    justify-content: space-evenly;
    width:33%;
}

.dashboard aside.icons i {
    color: var(--blue1);
    font-size: 20px;
    opacity: .5;
}


/*******************************/
/*  OVERRIDE Share Pet Form       
/*******************************/

.share_pet section.right {
    margin-top: 50px;
    width: 30%;
    margin-left: 20px;
    
}
.share_pet {
    display: flex;
    width:100%;
    font-style: normal;
}

.share_pet input {
    background-color: rgba(255, 255, 255, 0.5);
    border: 0px;
}

.share_pet input#id_pet_img {
    background-color: transparent;
}
.share_pet input#id_pet_img p input {
    border:none;
}
.share_pet section.left h3 {
    color: var(--blue1);
    font-style: normal;

}
.share_pet section.left {
    width: 70%;
}



.share_pet i:before, .share_pet button {
    color: var(--blue1);
}

.share_pet button {
    text-align: left;
}




.dashboard {
    display:flex;
    width:80%;
    margin:0;
    flex-wrap: wrap;
    margin: 0 auto;
}

.dimage {
    width: 24.5%;
    margin-left:2px;
    margin-bottom: 2px;
    border-radius: 5px;
    flex-shrink: 1;
    margin:2px;
}

.color_block {
    background-color: #D4FFDA;
    border: 2px dotted #91BF98;
    width: 49%;
    border-radius: 5px;
    padding: 40px 40px;
    margin:2px;
}

.color_block2 {
    background-color: #D4FFDA;
    border: 2px dotted #91BF98;
    width: 24.6%;
    border-radius: 5px;
    padding: 40px 40px;
    margin:2px;
}

.color_block2 p {
    font-size: 18px;
    color:#91BF98;
}


img.cropped2 {
    width:100.5%;
    height: 100.6%;
    object-fit: cover;
    object-position: 20% 20%;
    border-radius: 5px 5px 5px 5px;
}





/*******************************/
/*  MEDIA BREAKPOINT 1110px         
/*******************************/
@media (max-width: 1110px){
    .dimage , .color_block2{
        width:24.5%
    }
    .color_block2 {
        padding: 20px;
        
    }
}

/*******************************/
/*  MEDIA BREAKPOINT 1025px         
/*******************************/
@media (max-width: 1025px){
    .dimage, .color_block2 {
        width:32.5%;
    }
    .dashboard .guest_message {
        width: 97.5%;
        padding: 20px;
        margin-bottom:5px;
        
    }
    .share_pet h3 {
        margin-top: 0px;
    }
    .share_pet input {
        height: 40px;
        margin-top: 10px;
    }

    .share_pet section.left {
        width: 100%;
    }
    .share_pet section.right {
        margin: 0px;
        margin-top: 10px;
        width: 100%;
    }

    .share_pet button  {
        margin-top:-10px;
        font-size: 20px;
    }

    .share_pet {
        flex-direction: column;
    }

    .dashboard .share_pet i::before {
        font-size: 25px;
    }

    .share_pet input#id_pet_img {
        margin-top: 15px;
    }



    .dashboard aside.icons p{
        font-size:17px;
    }
    .dashboard aside.icons a{
        font-size:17px;
    }
    .dashboard aside.icons div{
        width:50%;
    }
    .dashboard aside.icons div:nth-child(3){
        display:none;
    }

    .color_block2 {
        padding:30px;
    }
    .color_block2 p {
        font-size:20px;
    }

}


/*******************************/
/*  MEDIA BREAKPOINT 1025px         
/*******************************/
@media (max-width: 1300px){
    /* .share_pet h3 {
        margin-top: 8px;
        font-size:20px;
    }
    .share_pet input#id_pet_img{
        margin:0px;
        height:22px;
    } */

    

}

/*******************************/
/*  MEDIA BREAKPOINT 767px         
/*******************************/
@media (max-width: 767px){

    .dashboard {
        justify-content: left;
        width:100%;
        margin-left:3px;
    }

    .dimage, .color_block2{
        width:48.5%;
    }
    /* COLOR BLOCK */
    .color_block2 {
        padding: 35px;
    }


    .stats {
        display:none
    }
    .cropped {
        height:auto;
    }

    .dimage .stats h2 {
        font-size: 16px;
    }
    .dimage .stats p , .dimage .stats a {
        font-size: 14px;
    }

    .dashboard aside.icons div{
        width:50%;
    }
    .dashboard aside.icons div p:nth-child(1){
        display:none;
    }


}

/*******************************/
/*  MEDIA BREAKPOINT 625px         
/*******************************/
@media (max-width: 625px){
    .dashboard aside.icons {
        flex-direction: column;
    }

    .dashboard aside.icons div {
        width:70%;
    }
}
/*******************************/
/*  MEDIA BREAKPOINT 425px         
/*******************************/
@media (max-width: 426px){
    .dashboard {
        width:100%;
    }
    aside.icons {
        flex-direction: column;
    }

    .dashboard aside.icons div{
        width:100%;
    }

    .color_block2 {
        padding: 20px;
    }

    .color_block2 p {
        font-size: 18px;
    }

    .share_pet input#id_pet_img {
        width: 90%;
    }
    



} 


/*******************************/
/*  MEDIA BREAKPOINT 281px         
/*******************************/
@media (max-width: 281px){
    .dimage{
        width:100%
    }

   

} 


