@import 'stats.css';

.modal {
    width: 100%;
    
}

.modal-dialog {
    width:fit-content;
    margin: 0 auto;
    margin-top: 3%;
}

.modal-content {
    width:fit-content;
    height:fit-content;
    margin: 0 auto; 
}

.modal-body {
    padding:0px;
    display:flex;
    width:750px;
    height: 450px;
}

.cropped2 {
    width:100%;
    border: none;
    margin-left: -1px;
    margin-top: -1px;
    border-radius: 5px 0px 0px 0px;
}

.modal .left {
    text-align: center;
    border-radius: 5px 0px 0px 0px;
    background-color: #E5E5E5;
    padding: 0px;
    padding-bottom: 10px;
    width: 50%;
    border-right: 1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal .left img {
    text-align: left;
    margin-bottom: 10px;
}

.modal .right {
    padding: 5px;
    display: unset;
    margin: 0 auto; 
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.modal .right::-webkit-scrollbar {
    display: none;
}

.modal .right p.name  {
    font-family: 'Montserrat Alternates', sans-serif;
    color:#337AB7;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 10px;
    text-align:center;
    height: 45px;
    background-color: white;
}

.modal .right .top {
    position:sticky;
    top: 0;
    background-color: white;
    z-index:1
}

.modal .left p:nth-child(2) {
    color: #BFBFBF;
}

.modal .comments {
    border-radius: 5px;
    background-color:#EDEDED;
    text-align: left;
    padding: 15px;
    height: 69%;
    width:100%;
    margin: 0 auto; 
    overflow: scroll;
    vertical-align: baseline;
}

.modal .single_comment h2 {
    margin:0px; 
    margin-bottom:25px
}

.modal .comments p {
    color: black;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    max-width:350px;
    margin: 0px;

}

.modal .no_comments {
    background-color: white;
}

.modal .scroll {
    color: grey;
    margin: 15px;
    padding: 0px;
    font-size: 10px;
}

.modal form {
    border: 1px solid grey;
    box-shadow: none;
    width:90%;
    position:sticky;
    top: 0;
}

.modal input {
    padding-left: 10px;
    height:40px;
    resize:none;
    border:none;
    width: 75%;
}

.post_comment button {
    margin:0px;
    background-color: white;
    border: none;
    box-shadow: none;
    color: grey;
    text-align: right;
}

.post_comment {
    background-color: white;
    padding: 3px;
    display: flex;
    width:80%;
    margin: 0 auto; 
    margin-bottom:15px;
}

.modal .stats {
    align-items: center;
    display:none;
}


.modal .single_comment h2 {
    font-size: 15px;
    display: inline-block;
}

.modal .single_comment h2 {
    font-size: 15px;
}



/*******************************/
/*  MEDIA BREAKPOINT 550px  
/*******************************/
@media (max-width: 900px){

    .modal {
        scroll-behavior: none;
        
    }

    .modal-content {
        max-height: 800px;
        height:fit-content;
    }

    .modal-dialog {
        margin: 0 auto; 
        margin-top:50px;    
        height:fit-content;
    }

    .modal-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: 800px;
        height:fit-content;
        margin: 0 auto;
       
    }

    .modal .left {
        width: 100%;
        margin: 0 auto; 
        border: none;
        position:sticky;
    }

    .modal .left p:nth-child(3), p:nth-child(4){
        visibility: hidden;
        position: absolute;
    }

    .modal .right{
        height:fit-content;
        padding-left:20px;
        padding-right: 20px;
        width: 100%;
    }

    .modal .right p.name {
        height:fit-content;
        margin: 10px;
        padding: 0px;
        background-color:white;
        top:100px;
        font-size: 14px;
    }

    .modal .comments {
        height: 250px;
    }

    .model .comments p {
        width:90%;
    }
}
