@import 'stats.css';

.modal {
    width: 100%;
    
}

.modal-dialog {
    width:fit-content;
    margin: 0 auto;
    margin-top: 1%;
    overflow: hidden;
}

.modal-content {
    width:fit-content;
    height:fit-content;
    margin: 0 auto; 
}

.modal-body {
    padding:0px;
    display:flex;
    width:fit-content;
    height:500px;
}

.modal .close_modal {
    position: absolute;
    right: 0px;
    margin:10px; 
    font-size:20px;
    z-index: 2;
    color: black;
}
.cropped2 {
    width:100.2%;
    border: none;
    margin-left: -.5px;
    margin-top: -1px;
    border-radius: 5px 0px 0px 0px;
}

.modal .left {
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    background-color: #E5E5E5;
    padding: 0px;
    padding-bottom: 10px;
    width: 50%;
    border-right: 1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal .left img {
    text-align: left;
    margin-bottom: 10px;
}

.modal .right {
    padding: 5px;
    display: unset;
    margin: 0 auto; 
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.modal .right::-webkit-scrollbar {
    display: none;
}

.modal .right p.name  {
    font-family: 'Montserrat Alternates', sans-serif;
    /* color:#337AB7; */
    color: #55AAAA;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 10px;
    text-align:center;
    height: 45px;
    background-color: white;
}

.modal .right .top {
    position:sticky;
    top: 10px;
    background-color: white;
    padding-bottom: 20px;
    z-index:1
}

.modal .single_comment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:0px;
    width: 90%;
    margin: 0px;
    margin-bottom:10px;
}

.modal .single_comment .fa-times::before {
    position:static;
    margin:0px;
    padding:0px;
}

.modal .single_comment a {
   text-align:top;
}
.modal .left p:nth-child(2) {
    color: #BFBFBF;
}
.modal #replace_comments {
    height: 70%;
}
.modal .comments {
    border-radius: 5px;
    background-color:#EDEDED;
    text-align: left;
    padding: 15px;
    height: 100%;
    width:90%;
    margin: 0 auto; 
    overflow: scroll;
    vertical-align: baseline;
}

.modal .single_comment h2 {
    margin:0px;
    width:220px;
}

.modal .comments p {
    color: black;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    max-width:350px;
    margin: 0px;
    scroll-padding-bottom: 2em


}

#bottom {
    overflow-anchor: auto;

    /* anchor nodes are required to have non-zero area */
    height: .5px;
    color:red;
}
.modal .scroll {
    color: grey;
    margin: 15px;
    padding: 0px;
    font-size: 10px;
}

.modal form {
    border: 1px solid grey;
    box-shadow: none;
    width:90%;
    position:sticky;
    top: 0;
}

.modal input {
    padding-left: 10px;
    height:40px;
    resize:none;
    border:none;
    width: 75%;
}

.comment_form button {
    margin:0px;
    background-color: white;
    border: none;
    box-shadow: none;
    color: grey;
    text-align: right;
}

.comment_form {
    background-color: white;
    padding: 3px;
    display: flex;
    width:80%;
    margin: 0 auto; 
    margin-bottom:15px;
    
}

.modal .stats {
    align-items: center;
    display:none;
}


.modal .single_comment h2 {
    font-size: 15px;
    display: inline-block;
}

.modal .single_comment h2 {
    font-size: 15px;
}



/*******************************/
/*  MEDIA BREAKPOINT 768px  
/*******************************/
@media (max-width: 769px){


    .modal-content {
        width: 100%;

        /* height:fit-content; */
    }

    
    .modal-dialog {
        margin: 0 auto; 
        margin-top:0px;    
        width:100%;        
    }
    .modal form {
        width:100%;
    }

    .modal .fa-times {
        color: white;
    }
    
    .modal-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        height:100%;
        margin: 0 auto;
        padding-bottom:20px;
        
    }

    .modal .left {
        width: 100%;
        margin: 0 auto; 
        border: none;
        position:sticky;
    }

    .modal .left p:nth-child(4), p:nth-child(5){
        /* visibility: hidden; */
        /* position: absolute; */
    }

    .modal .single_comment {
        display:flex;
        justify-content: space-between;
        margin-bottom: 10px;
        
        
    }

    .modal .single_comment h2 {
        margin:0px;
        padding: 0px;

    }

    .modal .single_comment i {
        position: unset;
        color: #55AAAA;
        margin: 0px;
        width:fit-content;
        padding: 0px;
    
    }

    .modal .right{
        height:fit-content;
        padding-left:20px;
        padding-right: 20px;
        width: 100%;
    }

    .modal .right p.name {
        height:fit-content;
        margin: 10px;
        padding: 0px;
        background-color:white;
        top:100px;
        font-size: 16px;
    }

    .modal .comments {
        height: 250px;
    }

    .model .comments p {
        width:90%;
    }

    .modal .cropped2 {
        border-radius: 5px 5px 0px 0px;
    }

}
