
*{
    margin:0px;
    padding: 0px;
}



#NAV_BAR {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: white;
    height: 75px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav_menus {
    margin: auto;
    width:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

    .nav_menus h2 {
        margin: 0px;
        font-family: 'Damion', cursive;
        font-size: 50px;
    }
  ul.horizontal_menu {
    
        display:flex;
        justify-content: space-between;
        width: 200px;
        margin:0px;
    }   
        .horizontal_menu li {
            list-style-type: none;
            font-weight: bold;
        }

        .horizontal_menu a {
            font-size: 13px;
            color: var(--blue1);
            text-decoration:none;
        }
        .horizontal_menu li a i {
            font-size: 25px;
        }


    nav menu.dropdown-menu a {
        width: 100%;
        font-weight: bold;
        font-size:13px;
        text-align: right;
    }

        menu.dropdown i.fa-bars::before {
            font-size: 30px;
            color:#55AAAA;
        }
/* CANVAS NAV BAR */


nav menu.dropdown {
    display:none;
    align-items:center;
    width:80%;

}

nav div div{
    width:200px;
    align-items: center;
    
}

@media (max-width: 600px){
    ul.horizontal_menu {
        width: 150px;
    }
}


@media (max-width: 426px){
    nav button {
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: black;
        margin: 0px;
        position: relative;
        right: 0;
    }
    nav menu.dropdown {
        display: flex;
        justify-content: flex-end;
        align-items: right;
        text-align: left;
    }

    menu .dropdown-menu a {
        min-width: 100px;
        text-align: left;
        font-size: 16px;
        color: #55AAAA;
    }

    ul.horizontal_menu {
        display:none;
    }

    .nav_menus i:before {
        font-size:30px
    }
    nav div div {
        width:150px;
    }
}