
*{
    margin:0px;
    padding: 0px;
}



#NAV_BAR {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: white;
    height: 75px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav_menus {
    margin: auto;
    width:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
    .nav_menus h2 {
        margin: 0px;
        font-family: 'Damion', cursive;
        font-size: 50px;
    }

    
ul.horizontal_menu {
    display:flex;
    justify-content: space-between;
    width: 200px;
    margin:0px;
}   
    .horizontal_menu li {
        list-style-type: none;
        font-weight: bold;
    }

    .horizontal_menu a {
        font-size: 13px;
        color: var(--blue1);
        text-decoration:none;
    }
    .horizontal_menu li a i {
        font-size: 25px;
    }


menu.dropdown {
    display:none;
}
    



/***************************************/
/* MEDIA BREAKPOINT -  MAX-WIDTH 600px 
/***************************************/
@media (max-width: 600px){
    ul.horizontal_menu {
        width: 150px;
    }
}

/***************************************/
/* MEDIA BREAKPOINT -  MAX-WIDTH 426px 
/***************************************/
@media (max-width: 426px){

    .nav_menus {
        width:90%;
    }
        .nav_menus i:before {
            font-size:30px
        }

    ul.horizontal_menu {
        display:none;
    }

    menu.dropdown {
        display: flex;
    }
        menu.dropdown button {
            border:none;
            background-color: transparent;
        }

        menu.dropdown i.fa-bars::before {
            font-size: 30px;
            color: var(--blue1);
        }
    
        ul.dropdown-menu {
            min-width: 130px;
            left:-110px;
            top:51px;
            background:rgba(255, 255, 255, 0.9);

        }
    
        ul.dropdown-menu a {
            text-align: right;
            font-size: 16px;
            color:var(--blue1);
            margin-top:0px;
        }

        ul.signin {
            min-width: 100px;
            left:-63px;
        }

}

/*******************************/
/*  MEDIA BREAKPOINT 281px         
/*******************************/
@media (max-width: 281px){
    .nav_menus h2 {
        font-size: 40px;
    }
    

} 