.share_pet input {
    margin-bottom: 10px;
    height:35px;
    padding-left: 10px;
    border-radius: 5px;
}

.share_pet input.red_outline {
    border:2px solid #FE6C6C;
}

.share_pet input#id_pet_img{
    padding:0px;
    margin-top: 10px;
}

.share_pet .left {
    margin: auto;
    display: flex;
    flex-direction: column;
}   

.share_pet section.right {
    margin-left: 30px;
}

.share_pet button {
    border: none;
    background-color: transparent;
}

.share_pet .left .slide .messages {
    color:#FE6C6C;
    margin:0px;
    margin-bottom: 6px;
    margin-top: -8px;
    font-size: 15px;
    font-weight: bold;
}

.share_pet .left .slide {
    display: flex;
    flex-direction: column;
}


/*******************************/
/*  OVERRIDE Share Pet Form       
/*******************************/

.share_pet section.right {
    width: 30%;
    margin-top: 50px;
    margin-left: 20px;
    
}
.share_pet {
    display: flex;
    width:100%;
    font-style: normal;
}

.share_pet input {
    background-color: rgba(255, 255, 255, 0.5);
    border: 0px;
}

.share_pet input#id_pet_img {
    background-color: transparent;
}
.share_pet input#id_pet_img p input {
    border:none;
}
.share_pet .left h3 {
    color: var(--blue1);
    font-style: normal;
    margin: 0px;

}
.share_pet .left {
    width: 100%;
}


.share_pet i:before, .share_pet button {
    color: var(--blue1);
}

.share_pet button {
    text-align: left;
    margin-top: -15px;
}

.nursery_bg {
    border-radius: 5px;
    background-color: #C6E2E2;
    font-style: italic;
    font-size: 14px;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px dotted var(--blue1);
    width: 49.3%;
    margin:3px;
    min-height:220px;
}

.nursery_bg h2 {
    font-size: 18px;
}

.nursery_bg i::before{
    margin-right: 4px;
    margin-left: 10px;
    font-size: 20px;
}

.share_pet .slide {
    margin-top:10px;
}

/*******************************/
/*  MEDIA BREAKPOINT 1025px         
/*******************************/
@media (max-width: 1200px){


    .share_pet input {
        height: 40px;
        margin-top: 10px;
    }

    .nursery_bg {
        width: 110%;
        padding: 20px 20px;
        margin-bottom:5px;
        justify-content: center;
        min-height:unset;
        
    }

    .share_pet .left {
        width: 100%;
    }
    .share_pet section.right {
        margin: 0px;
        margin-top: 10px;
        width: 100%;
    }

    .share_pet button  {
        margin-top:-10px;
        font-size: 20px;
    }

    .share_pet {
        flex-direction: column;
    }

    .share_pet i::before {
        font-size: 25px;
    }

    .share_pet input#id_pet_img {
        margin-top: 15px;
    }
}

/*******************************/
/*  MEDIA BREAKPOINT 1025px         
/*******************************/
@media (max-width: 767px){
    .nursery_bg {
        width: 97.5%;
    }

}

/*******************************/
/*  MEDIA BREAKPOINT 425px         
/*******************************/
@media (max-width: 426px){

    .share_pet input#id_pet_img {
        width: 90%;
    }
    
}