.single_comment p:nth-child(1){
    width: 100%;
    color: red;
    display: block;
}



.single_comment .comm_edit {
    display: none;
    align-items: top;
    vertical-align: top;
    width: 103%;
}
.single_comment form {
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    z-index: 1;
    height: fit-content;
    top: -2px;
    width: 100%;
    border:none;
    
}

.single_comment textarea {
    padding: 5px;
    width: 218px;
    resize: none;
    border:none;
}