.single_comment {
    display:flex;
    padding: 0px;
    margin: 15px 0px 15px 0px;
    vertical-align: middle;

}


.single_comment a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
}


.single_comment .edit_actions {
    display:flex;
    justify-content: space-around;
    width: 16%;
    
}
    .single_comment .edit_actions i {
        margin-right:20px;
        height: 100%;
        color: var(--blue1);
        font-size:20px;
    }

    .single_comment .edit_actions i.edit_comment_cancel {
        margin-right:0px;
    }


.single_comment p {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0px;
    padding: 0px;
    max-width:260px;
}
.single_comment .comm_edit {
    display: none;
    align-items: top;
    vertical-align: middle;
    width: 103%;
    border:none;
    margin-left:-10px;
}

.single_comment .comm_text {
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
.single_comment form {
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    z-index: 1;
    height: fit-content;
    top: -2px;
    width: 100%;
    border:none;
}

.single_comment textarea {
    padding: 5px;
    width: 80%;
    resize: none;
    border:none;
    margin-right: 10px;
}

