ul.stats_bar {
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:100%;
    padding: 0px 0px 10px 0px;

}
.stat_icon i, .stat_num p, .stat_icon button {
    color:#BFBFBF;
    font-size: 25px;
    height:auto;
    margin: 0px;
    background-color:transparent;
    border: none;
}

.stat_num {
    margin-left: 5px;
    margin-right: 10px;
}
.stat_num p {
    font-family: 'Montserrat Alternates', sans-serif;
}

.stat_icon button {
    width:fit-content;
}


.stats_bar .loved i::before, .stats_bar .loved p  {
    color: #55AAAA;
}


.stats_board {
    position: relative;
    top: -130px;
    height:0px;  
    /* margin-right: 10px; */
    width: 100%;
    z-index: 1;
}

.stats_board header {
    padding-top: 20px;
}
.stats_board header h1 {
    font-family: 'Montserrat Alternates', sans-serif;   
    margin: 0px;
    text-align: center;
    color:#BFBFBF;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.stats_board header h2 {
        font-family: 'Montserrat Alternates', sans-serif;   
        margin: 5px 0px;
        color:#BFBFBF;
        font-size:16px;
        text-align:center;
    }




.stats_board div a {
    width: fit-content;
}


.stats_board p.name {
    padding-left: 5px;
    padding-right: 5px;

}


.stats_board p button {
    background-color: transparent;
    display:inline-block;
    width:fit-content;
    height: fit-content;
    margin: 0px;
    padding: 0px;
    border:none;
    box-shadow: none;
    text-align: center;
    color:#BFBFBF;
    font-family:unset;
}

p i {
    font-size:25px;
    color:#BFBFBF;
    margin-right: 0px;
    opacity: 1;
}

p button i{
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 8px;
    font-size: 23px;
}




/* .stats_board span {
    margin-left: 3px;
    margin-bottom: 12px;
    font-size:20px;
    font-weight: bold;
} */

.stats_board .statnums span {
    margin-left: 3px;
    margin-bottom: 12px;
    font-size:20px;
    font-weight: bold;

}
button:focus {
    outline: 0px;
    border: 0px;
}

