option_settings:
  aws:elbv2:listener:443:
    SSLCertificateArns: arn:aws:acm:us-east-2:270186663423:certificate/44f0f9d9-cd99-48de-9a68-0c3e6faaa29b
    Protocol: HTTPS
Resources:
    AWSEBV2LoadBalancerListener:
      Type: 'AWS::ElasticLoadBalancingV2::Listener'
      Properties:
        LoadBalancerArn: { "Ref" : "AWSEBV2LoadBalancer" }
        DefaultActions:
          - RedirectConfig:
              Port: 443
              Protocol: HTTPS
              StatusCode: HTTP_301
            Type: redirect
        Port: 80
        Protocol: HTTP