.user_img {
    width:200px;
    height: 200px;
    background-size: cover;
    background-color: #E5E5E5;
    border-radius: 100px;
    margin: 0 auto;
}

.person {
    text-align: center;
    margin-bottom: 20px;
    width: 75px;
    white-space: nowrap;
    /* overflow: hidden; */
    
    margin: 5px;
    display:inline-block
}

.person div:nth-child(2){
    display:flex;
    flex-direction:column;
    text-align:left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.person .user_email {
    font-family: var(--baseFont);
}
.person .outline {
    border-radius: 100px;
    padding: 5px;
}


.person p {
    margin: 0px;
    text-decoration: none;
}

.user_info a {
    text-decoration: none;
    color: black;
}