@import 'modal.css';
@import 'stats.css';

.stats {
    display: none;
}

#interface_block_one{
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
}


button:focus {
    outline: 0px;
    border: 0px;
}

.dashboard {
    display:flex;
    width:90%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: left;
}

.dimage {
    margin-left:2px;
    margin-bottom: 2px;
    width: 24.8%;
    border-radius: 5px;
    background-color: black;
}


img.cropped {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.dashboard .dimage button {
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    border: none;
    height:fit-content;
    width: fit-content;
    background-color: transparent;
}

/*******************************/
/*  MEDIA BREAKPOINT 1110px         
/*******************************/
@media (max-width: 1110px){
    .dimage {
        width:24.5%
    }
}

/*******************************/
/*  MEDIA BREAKPOINT 1025px         
/*******************************/
@media (max-width: 1025px){
    .dimage {
        width:33%;
    }

}

/*******************************/
/*  MEDIA BREAKPOINT 767px         
/*******************************/
@media (max-width: 767px){

    .dashboard {
        justify-content: left;
        width:90%;
    }

    .dimage{
        width:48%;
    }
    .stats {
        display:none
    }
    .cropped {
        height:auto;
    }
    
}

/*******************************/
/*  MEDIA BREAKPOINT 425px         
/*******************************/
@media (max-width: 425px){
.dimage {
    width:100%
}
}






