form.msg_post{
    padding: 0px;
    margin: 0 auto;
    width: 97%;
    margin-bottom: 30px;
}

#interface_block_two {
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3%;
   
}

form {
    width: 500px;
    border: 2px solid black;
    padding: 50px;
    margin: 0px;
    height: 350px;
    margin-bottom: 50px;
}

form.desc {
    width: 500px;
    border:2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 150px;
    margin-bottom: 40px;
}

.line_input {
    width: 100%;
    display: flex;
    justify-content:  space-between;
}


textarea {
    padding: 1%;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    resize: none;
   
   
}
.password {
    height: 350px;
}


label.form_label {
    width: 100%;
}

h2.title_h2 {
    font-weight: bolder;
    width:85%;
    margin: 0 auto;
}
input.form_input {
    padding: 3%;
    border: 1px solid grey;
    width: 100%;
}


button {
    background-color: green;
    color: white;
}

.edit {
    display:flex;
    flex-direction: column;
}

.edit .title {
    width: 60%;

    margin: 0 auto;
    margin-top: 50px;

}

@media (max-width: 1750px){
   #interface_block_two {
       display: unset;  
       width: 60%;

   }

   .line_input {
       display: unset;
   }
   form.desc {
       width: 100%;
   }

   form {
       width: 100%;
       height: fit-content;
   }

}
/* form { 
    padding: 30px;
}

h2.form_h2 {
    margin-left: 20px;
    background-color: white;
    margin-top: -10px;
    position: absolute;
    z-index: 1;
} */