#interface_block_one {
    width: 70%;
    margin: 0 auto;
}

.jumbotron {
    background-size:cover;
    margin-bottom: 10px;
}


.light {
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    margin: 0 auto; 
    background-color: rgba(255, 255, 255, 0.85);
}

.light div {
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
}


.light p {
    margin-bottom: 0px;
}

.light p:nth-child(2){
    margin-top: 20px;
    font-size: 13px;
}


.light p:nth-child(3){
    margin-top: 5px;
    margin-bottom: 20px;
}
.light div a:nth-child(2){
    align-self:flex-end;
}

.light h2 {
    font-size: 22px;
}

.bottom {
    display:flex;
    justify-content: space-between  ;
}

.bottom div {
    width: 30%;
    height: fit-content;
    border-radius: 5px;
    padding: 15px;
}

.bottom p {
    font-size: 12px;
}
.bottom h2{
    text-align:left;
    font-size: 15px;   
    padding-bottom: 10px;
    color: #149DDD;
}


/*******************************/
/*  MEDIA BREAKPOINT 769px
/***************************** */

@media (max-width: 769px){
    #TOP_long {
        margin-bottom: 0px;
    }

    .jumbotron {
        background-size: stretch;
    }
    #interface_block_one {
        width: 100%
    }
    .bottom {
        padding-left: 40px;
        padding-right: 40px;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .bottom div {
        width: 50%;
    }
}


/*******************************/
/*  MEDIA BREAKPOINT 426px
/***************************** */
@media (max-width: 426px){
    .jumbotron {
        background-repeat: no-repeat;
        padding-left: 0px;
        padding-right: 0px;       
    }

    #TOP_long {
        margin-bottom: 0px;
    }

    body {
        background-color: #E9ECEF
    }

    .light {
        z-index: 1;
        margin: 0px;
        margin-top: 170px;
        padding-bottom: 30px;
        box-shadow: none;
        width:100%;
        border-radius: 10px 10px 0px 0px;
        
    }

    .light h2 {
        text-align: center;
        font-size: 20px;
    }

    .light div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: unset;
    }

    .light a:nth-child(2) {
        width: 100%;
        margin-top:20px;
        text-align: center;
    }

    .light p {
        font-size: 14px;
        margin-top:20px
    }

    .light p:nth-child(3) {
        color: blue;
        text-align: center;
        margin-top:20px;
        width: 100%;
        font-size: 14px;
        font-weight: bold;
    }

    .bottom {
        background-color:white;
        width: 100%;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 50px;
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .bottom div {
        border: 1px solid grey; 
        margin: 0 auto; 
        min-height: 225px;
        width: 45%;
        margin-left: 3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 20px;

    }
}


/*******************************/
/*  MEDIA BREAKPOINT 376px
/***************************** */

@media (max-width: 376px){
   
    #TOP_long {
        margin-bottom: 0px;
    }

    .light {
        padding-left: 35px;
        padding-right: 35px;
        margin-top: 145px;
    }

    .light h2 {
        font-size: 24px;
    }
    .bottom h2 {
        text-align: center;
    }

    .bottom div {
        margin: 0 auto; 
        width: 90%;
        min-height: unset;
        margin-bottom: 20px;
        border: 1px solid blue;   
    }
}