

p.info {
    
    width: 20%;
}

.info_block_1 {
    margin-top: 10px;
    width:50%;
    border:none;
    padding:0px;
}

form {
    margin-top: 15px;
    padding: 20px;
    border: none;
}

.info_block_2 {
    border:none;
    width: 100%;
    
}

textarea {
  
    resize: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border:none;
    padding: 5px;
}


p.info_h1 {
    border: 1px solid black;
    display:block;
    width: 100%;
}

p.msg {
    height: 100px;
}

p.comment {
    padding: 10px;
    background-color: #E5E5E5;
    font-size: 12px;
  
}

.left {
    width: 40%;
}

.info {
    margin-bottom: 50px;
}

.post {
    width: 400px;
    height:fit-content;
}


.right {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

.post {
    display:flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    
}

.right .post {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
    padding: 20px;
}

#interface_block_two {
    display: flex;
    justify-content: space-between;
}

.comment_btn {
   
}

.right .comment a {
    margin-bottom: 0px;
}
form.msg_comment {
    box-shadow: none;
    padding: 0px 0px;
    height: 50px;
    width: 100%;
    display:flex;
    

}
.comment {
    width: 100%;
}
.msg_comment textarea {
    height: 50px;
    border-radius: 10px;
    width: 100%;
}

#CANVAS_long div.sticky {
position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#interface_block_two div.left div.info {
    position: -webkit-sticky;
      position: sticky;
      top: 110px;
}

#interface_block_two div.left form.message {
    position: -webkit-sticky;
      position: sticky;
      top: 270px;
}

