
#interface_block_two {
    width: 70%;
    display:flex;
    justify-content: space-between;
    margin: 0 auto; 

}

#interface_block_two .ileft {
    width: 30%;
    min-width: 230px;
    
}


form {
    width:100%;
    display:flex;
    flex-direction: column;
    border: 0px;
    box-shadow: none;
    position:sticky;
    top: 150px;
}

input {
    width:100%;
    align-self: left;
    margin-bottom: 10px;
    height: 25px;
}


button {
    box-shadow: none;
    border: none;
    color:#BFBFBF;
    background-color:white; 
    
}



form button {
    margin: 0px;
    padding: 0px;
    text-align: right;
    width: 90%;
    margin: 0 auto; 
}


#interface_block_two .iright {
    width: 70%;
    padding-left: 13%;
    text-align: center;
}
.iright .dashboard {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: right;
}


.iright .dimage {
    margin-left:2px;
    margin-bottom:2px;
    background-color: #E5E5E5;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 48%;
    height: fit-content;
}


.cropped {
    border-radius: 5px 5px 0px 0px;
    width:100%;
}
.dimage a button {
    background-color: transparent;
    width:fit-content;
    height: fit-content;
    display: inline;
    margin: 0px;
    padding: 0px;
    border:none;
    box-shadow: none;
    text-align: center;
}



/*******************************/
/*  MEDIA BREAKPOINT 1201px        
/*******************************/
@media (max-width: 1999px){
 

}






/*******************************/
/*  MEDIA BREAKPOINT 1075px         
/*******************************/
@media (max-width: 1075px){


    #interface_block_two .iright{
        width: 500px;
    }


    #interface_block_two .ileft {
        width: 30%;
        
    }


}


/*******************************/
/*  MEDIA BREAKPOINT 960px         
/*******************************/
@media (max-width: 960px){

    .dashboard {
        flex-direction: column;
        align-items: right;
    }
    
    #interface_block_two .iright{
        width: 70%;
    }


    #interface_block_two .ileft {
        width: 30%;
        
    }


}


/*******************************/
/*  MEDIA BREAKPOINT 960px         
/*******************************/
@media (max-width: 960px){

 

    #interface_block_two {
        width: 100%;
        padding-top: 0px;
        flex-direction: column;
        align-items: center;
    }

    #interface_block_two .ileft {

        position: sticky;
        top: 100px;
        background-color: white;
        width: 100%;
        padding-bottom: 20px;
    }

    #interface_block_two .iright {
       padding: 0px;
       margin: 0px;
    }

    #TOP_long {
        height: 100px;
        margin-bottom: 0px;
        background-color: white;
    }

    form {
        margin: 0 auto; 
        width: 70%;
    }

  .iright .dashboard {
        padding: 0px;
        flex-direction: unset;
    }
   
}


