

#interface_block_one {
    border: none;
    padding: 0px;
    margin-top: 50px;
    width: 73%;
    display: block;
   
}

#interface_block_one ul {
    margin-left: 20px;
    color: red;

}
form {   
    padding: 1%;
    border:none;
    box-shadow: none;
    width: 100%;
    height: fit-content;
 
    
}

.form_row .form_input {
    border-radius: 5px;
    width: 30%;
    height: 20px;
    border: 1px solid #C3C3C3;
    padding:1%;
}


label.form_label {
    display:block;
    font-weight: bold;
    width:100%;
}

.form_row_button {
    width: 30%;
    /* border: 1px solid blue; */
    margin-bottom: 20px;
}


#interface_block_one div h2 {
    margin-left: 0px;
    font-size: 20px;
}

li {
    margin-left: 0px;   
    margin-top: 5px;
}



/*************************/
/*  BREAK 1024           
/*************************/

@media (max-width: 1024px){
    #interface_block_one {
        width: 75%;

    }

    
}


/*************************/
/*  BREAK 541          
/*************************/
@media (max-width: 541px){
    #interface_block_one {
        padding-top: 300px;
        display: unset;
        
    }
    #left_main {
        width: 60%;
        margin: 0 auto;
        margin-top: 40px;
        padding: 0px;
    }
    #right_main {
        width:  80%;
    }
    #right_main li {  
        margin-top: 15px;
    }


    
}

/*************************/
/*  BREAK 426          
/*************************/
@media (max-width: 426px){


    #interface_block_one {
        padding-top: 300px;
        display: unset;
        
    }
    #left_main {
        width: 60%;
        margin: 0 auto;
        margin-top: 40px;
        padding: 0px;
    }

    #left_main a {
        font-size: 13px;
    }
    #right_main {
        width: 100%;
    }
    #right_main li {  
        margin-top: 15px;
    }


    
}

/*************************/
/*  BREAK 321          
/*************************/

@media (max-width: 321px){

    form {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        height: fit-content;
    }

 

    
}


