

#interface_block_one {
    border: none;
    padding: 0px;
    margin-top: 50px;
    width: 70%;
    display: block;
    margin-bottom: 50px;   
}


h2 {
    font-size: 20px;
}
#interface_block_one ul {
    margin-left: 20px;
    color: red;

}
form {   
    margin-top: 20px;
    border:none;
    box-shadow: none;
    width: 100%;
    height: fit-content;
}

form input {
    margin-bottom: 10px;
    width: 30%;
    height: 25px;
}

form div a {
    margin-top: 20px;
}


label {
    display:block;
    font-weight: bold;
    width:100%;
}



#interface_block_one div h2 {
    margin-left: 0px;
    font-size: 20px;
}

li {
    margin-left: 0px;   
    margin-top: 5px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form div button {
    margin: 0px;
    margin-top: 20px;
    display: block;
    width: fit-content;
    box-shadow: none;
}

form div a {
    width: 100%;
}

/*******************************/
/*  MEDIA BREAKPOINT 1024px         
/*******************************/
@media (max-width: 1024px){

    form input {
        width: 50%;
    }

}


/*******************************/
/*  MEDIA BREAKPOINT 425px         
/*******************************/
@media (max-width: 426px){

    form input {
        width: 100%;
    }

}



