<script>

    var url_location = '{{location}}'
    var image = '{{image.id}}'
  
    
    
    if (image != 0 ){
        $('#comment_modal').modal('show');
    } 

    if(url_location == 'bulletin'){
        $( 'p button').mouseover(function() {
            var img_id = $(this).attr('id');
            loadurl =`/user/${url_location}/{{session_user.id}}/${img_id}`
        }).click(function() {
            window.location = loadurl
        })

    }

    $("#comment_modal").on('hidden.bs.modal', function(e){
            loadurl = `/${url_location}/{{session_user.id}}/0`
            window.history.pushState({}, '', loadurl)
    }); 
        

            
    $( ".dimage" )
    .mouseover(function() {
        var img_id = $(this).attr('id');
        var img = `.open_modal${img_id}`
        var stats = `#stat${img_id}`
        
        loadurl = `/${url_location}/{{session_user.id}}/${img_id}`
        

        $("#TOP_long").css('opacity', '.99');
        $(".heading").css('opacity', '.99');
        $( `${img}`).css('opacity', '.6').click(function(){
            window.location = loadurl
        });
        $(`${stats}`).show()
    });

    $( ".dimage" )
        .mouseleave(function() {
        var id = $(this).attr('id');
        var stats = `#stat${id}`
        var img = `.open_modal${id}`
        $( `${img}`).css('opacity', '1')
        $(`${stats}`).hide()
    });
    
</script>