<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets Connect</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'modal.css' %}">
    <link rel="stylesheet" href="{% static 'stats.css' %}">
    <link rel="stylesheet" href="{% static 'add_image.css' %}">
</head>
<body>
    <div id="CANVAS_long">
        <div id="TOP_long">
            <nav>
                <div>
                    <h2>Pets Connect</h2>
                    <div>
                        <a href = '/dashboard/0'><i style='font-size:25px' class="fas fa-table"></i></a>
                        <a href = '/logout'><i style='font-size:25px' class="fas fa-arrow-alt-circle-right"></i></a>
                    </div>
                </div>
            </nav>
        </div>


        <div id="interface_block_two">

            <div class = "ileft">
                <form enctype="multipart/form-data" action = '\process_add_image' method ='post'>
                    <h3>Share Your Pet</h3>
                    {% csrf_token %}     
                        <input type='text' name ='name' placeholder="Pets name..">
                        <input name = 'desc' placeholder="Description..">
                        <input type="hidden" name = 'user_id' value= '{{user.id}}'>
                        {{ upload_pet_form.as_p}}           
                        <button type ='submit'> <i class="fas fa-cloud-upload-alt"></i> POST</button>
                </form>
            </div>


            
    
            <div class = 'iright'>
                <div class = 'dashboard'>
                    {% for image in images %}
                    <div class= 'dimage'>

                        <img class='cropped' src = '{{ image.pet_img.url }}' >

                        <div class="stats">
                            <a class= "delete" href='\process_remove_image\{{image.id}}'><button type ='submit'><i class="fas fa-trash"> </i> Delete </button></a>
                            <p>
                                <i class="fas fa-thumbs-up"></i> {{image.likes.count}} 
                                <i class="fas fa-heart"></i> {{image.loves.count}} 
                                <button type = 'button' data-toggle='modal' data-target='#{{image.id}}' ><i class="fas fa-comment-alt"></i> {{image.comments.count}}</button>
                            </p>
                        </div>

                    </div>
                

                    <!-- MODAL -->
                    <div id="{{image.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-body">

                                    <div class ='left'>
                                        <img class="cropped2" src = {{image.pet_img.url}}>
                                        <div class="stats">
                                            <p>
                                                <i class="fas fa-thumbs-up"></i> {{image.likes.count}} 
                                                <i class="fas fa-heart"></i> {{image.loves.count}} 
                                                <button><i class="fas fa-comment-alt"></i> {{image.comments.count}}</button>
                                            </p>
                                        </div>
                                        <p>Submitted by:{{image.user.first_name}}</p>
                                        <p>{{image.desc}}</p>
                                    </div>

                                    <div class= 'right'>
                                        <p class = 'name'>{{image.name}}</p>
                                        <div class = 'comments'>
                                            {% for comment in image.comments.all reversed %}
                                                <p><b>{{comment.user.first_name}}:</b> {{comment.text}}</p>
                                            {% endfor %}
                                        </div>

                                        {% if image.comments.count > 7 %}
                                            <p class= "scroll">Scroll For More Comments</p>
                                        {% endif %}


                                    </div>
                                    
                                </div>
                            </div> 
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>




        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
</body>
</html>