<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'show.css' %}">
</head>
<body>

    <div id="CANVAS_long">
        <div class = 'sticky' id="TOP_long">
            <nav>
                <div>
                    <h2>Pets Connect</h2>
                    <div>
                        <a href = '/dashboard/0'><i style='font-size:25px' class="fas fa-table"></i></a>
                        <a href = '/logout'><i style='font-size:25px' class="fas fa-arrow-alt-circle-right"></i></a>
                    </div>
                </div>
            </nav>
        </div>


        <div id="interface_block_two">
            <div class = "left">
                
                <form  class = "post_image" action = '\process_add_image' method ='post'>
                    {% csrf_token %}                
                    <div>
                        <input type='text' name ='name' placeholder="Pets name..">
                        <input name = 'url' placeholder="Image URL to post...">
                        <input name = 'desc' placeholder="Description...">
                        <input type="hidden" name = 'user_id' value= '{{user.id}}'>
                        <div class="form_row_button"><button class ='form_post_button' type ='submit'> POST </button></div>
                    </div>
                </form>
            
            </div>


            
          
            <div class = 'right'>
                <h2>Your Collection</h2>
            {% for image in images %}
            <div class= 'post'>

                <!-- <p class ='info_h1 msg'> {{message.text}}</p> -->
                <img class = "cropped" src = "{{image.url}}">
             
              
                <div class="detail">
                    <p><i style='font-size:20px' class="fas fa-thumbs-up"></i> {{image.id}} <i style='font-size:20px' class="fas fa-heart"></i> {{image.id}} <i style='font-size:20px' class="fas fa-comment-alt"></i> {{image.comments.count}} </p>
                    <p>{{image.desc}}</p>

                   <a href='\process_remove_image\{{image.id}}'><button type ='submit'> Delete </button></a>

                </div>
               
            </div>

            {% endfor %}
        </div>




        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
</body>
</html>