<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>

    <!-- Remember to include jQuery :) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'admin.css' %}">
</head>
<body>

    <div id="CANVAS_long">
        <div id="TOP_long">
            <nav>
                <h2 >Pet's Connect</h2>
                <a href = '/logout'>Log Off</a>
            </nav>
            
        </div>
            </div>


        <div id="interface_block_one">
            <div class="split_top">
                <h2 class = 'form_title'>Manage Users - ADMIN {{request.session.user_level}}</h2>
                <a href = '/register'><button type ='submit'> Add New</button></a>
            </div>
            
            <table>
                <tr>
                    <th class= "id">id</th>
                    <th class = 'name'>name</th>
                    <th class = 'email'>email</th>
                    <th class= "created_at">created_at</th>
                    <th class = 'level'>level</th>
                    <th class = 'actions'>actions</th>
                </tr>

                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.user_name}}</a></td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>

                    {% if user.user_level == 9 %}
                    <td>admin</td>
                    {% else %}
                    <td>normal</td>
                    {% endif %}

                    <!-- ADD REMOVE MESSAGE BOX -->
                    <td><a href='/admin_edit_user/{{user.id}}/0/0'>edit</a><span> | </span><a href='/process_remove_user/{{user.id}}' id='manual-ajax'>remove</a></td>
                </tr>
                {% endfor %}
            </table>
        </div> <!-- END INTERFACE -->

        <!-- <div id="ex1" class="modal">
            <p>Thanks for clicking. That felt good.</p>
            <a href="users/remove_user/2" >Yes</a>
            <a href="#" rel="modal:close">No</a>
          </div> -->


    </div>  <!-- END CANVAS -->
    <script>
        $('#manual-ajax').click(function(event) {
            event.preventDefault();
             this.blur(); // Manually remove focus from clicked link.
            $.get(this.href, function() {
                alert( "Load was performed." );
            });
        });
    </script>
</body>
</html>>