<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'scripts/headerlinks.html'%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets Connect - Explore</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static '/css/admin.css' %}">
    <script src="{% static '/js/reloadscript.js' %}"></script>   
  
</head>
<body>

    <div class = 'loader'></div>
    <div id="CANVAS_long">
        {% include 'modules/nav.html' %}
        <div id="interface_block_one">
            <table>
                <tr>
                    <th class= "id">#</th>
                    <th class = 'name'>User Name</th>
                    <th class = 'email'>Email</th>
                    <th class = 'actions'>Actions</th>
                </tr>

                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.user_name}}</a></td>
                    <td>{{user.email}}</td>

                    <!-- ADD REMOVE MESSAGE BOX -->
                    {% if user.user_name != 'guest' %}
                        <td><a href='/admin_edit_user/{{user.id}}'><i class = 'fas fa-pen'></i></a><span> | </span><a href='/process_remove_user/{{user.id}}' id='manual-ajax'><i class='fas fa-times'></a></td>
                    {% else %}
                        <td><a href='/admin_edit_user/{{user.id}}'><i class = 'fas fa-pen'></i></a><span> |
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
                
            </div>

    
</body>
</html>