<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'scripts/headerlinks.html' %}
    <title>Pets Connect - Edit User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
    <link rel="stylesheet" href="{% static '/css/edit_user.css' %}">
    <script src="{% static '/js/reloadscript.js' %}"></script>   

</head>
<body>
    <div id="CANVAS_long">
        {% include 'modules/nav.html' %}


        <div id="interface_block_one" class='edit_user'>
            <div class = 'heading'>
                <div class = 'profile_info'>
                    
                    <form enctype="multipart/form-data" action="/process_edit_user/{{clicked_user.id}}" method="post">
                    {% with user=clicked_user %}
                        {% include 'modules/user_img.html' %}
                    {% endwith %}
        
                    
                        <!-- <a href=''> RECIEVE EMAIL NOTIFICATIONS: <span>False</span></a> -->
                        {% csrf_token %}
                        <input type= 'text' value = '{{clicked_user.user_name}}' name = 'user_name'> 
                        <input type= 'text' value = '{{clicked_user.email}}' name = 'email'> 
                        <input type= 'text' placeholder="Change Password" name = 'pass'> 
                        <input type= 'hidden' value = '{{clicked_user.email}}' name = 'current_email'>
                        {{ user_upload_img.as_p}}
                        <div>
                            <button type ='submit'> SUBMIT </button>
                            <a href= '/explore/admin'><button type='button'>CANCEL</button></a>
                        </div>
                    </form>
                </div>


           
                    
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %} 

                <form class="share_pet" enctype="multipart/form-data" action = '/process_add_pet_image' method ='post'>
                    <h3>Share Your Pet</h3>
                    {% csrf_token %}     
                        <input type='text' name ='name' minlength= '1' maxlength="10" placeholder="Pets name">
                        <input name = 'desc' maxlength="50" placeholder="Description">
                        <input type="hidden" name = 'user_id' value= '{{clicked_user.id}}'>
                        {{ upload_pet_form.as_p}}           
                        
                        <button type ='submit'> <i class="fas fa-cloud-upload-alt"></i> POST</button>
                </form>
            <h3>{{clicked_user.user_name}}'s Pets</h3>
            <div class = 'dashboard'>
                {% with location='profile' %}
                {% with user_id=clicked_user.id %}
                {% for image in clicked_user.images.all|dictsortreversed:'created_at' %}
                <div id = {{image.id}} class = 'dimage'>
                    {% include 'modules/image.html' %} 
                </div>
                {% endfor %}
                {% endwith %}
                {% endwith %}
            </div>

            <div id='replaceModal'>
                {% include 'modules/modal.html' %} 
            </div>
                

    </div>  <!-- END CANVAS -->
</body>

</html>