<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'scripts/headerlinks.html' %}
    <title>Pets Connect - Bulletin Board</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static '/css/bulletin.css' %}">
    <script src="{% static '/js/reloadscript.js' %}"></script>   
</head>
<body>
    <div id="CANVAS_long">
        {% include 'modules/nav.html' %}
        <div id="interface_block_two">

            <div class = 'bulletin_left'>
                <button type="button" class="btn btn-info btn-lg search_btn" data-toggle="modal" data-target="#search_modal">Search All Pet Owners</button>
                <button type="button" class="btn btn-info btn-lg search_btn" data-toggle="modal" data-target="#search_modal">Search Your Followers</button>
                
                <p><b>You Follow:</b></p>
                <div class = 'following'>
                    {% for user in session_user.is_following.all %}
                        {% include 'modules/person.html' %}
                    {% endfor %}
                </div>


                <div class = 'posts'>
                    <p><b>Their Pets:</b></p>
                    {% for image in images %}
                    {% if session_user in image.user.being_followed.all %}
                            <div id='post{{image.id}}'>
                                {% include 'modules/post.html' %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class = 'bulletin_right'>
                <div class = 'user session_user'>
                    {% with user=session_user %}
                        {% include 'modules/person.html' %}
                    {% endwith %}
                    <div>
                        <h2>{{session_user.user_name}}</h2>
                        <p>{{session_user.email}}</p>
                    </div>
                </div>
               
                <div class = 'followers'>

                    <div class= 'heading'>
                        <h3>Followers</h3>                
                        <p>You have {{session_user.being_followed.all.count}} followers</p>
                    </div>
                    
                    {% for user in session_user.being_followed.all|slice:":5" %}
                    <div class = 'user'>
                        {% include 'modules/person.html' %}
                        <div>
                            <h2>{{user.user_name}}</h2>
                            <p>follows you</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div class = 'footer'>
                    <p>About | Help | Press | API | Jobs | Privacy | Terms | Locations | Top Accounts | Hashtags</p>
                    <p>© 2020 PETSCONNECT </p>
                </div>

            </div>
        </div>
    </div>
    {% with component='from_modal' %}
    <div id='replaceModal'>
        {% include 'modules/modal.html' %} 
    </div>
    {% endwith %}

    {% include 'modules/search_modal.html' %}  
</body>
<script>

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

</script>
</html>