<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'scripts/headerlinks.html' %}
    <title>comment Frame</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bulletin.css' %}">

    

</head>

<body scroll="no" style="overflow: hidden; background-color:transparent" >
    <div id='comment_frame'>
        {% for comment in comments|slice:":3" %}
            {% include 'modules/single_comment.html' %}
        {% endfor %}

        <!-- {% if comments.count > 3 %}
        <h3>Show all {{image.comments.count}} comments </h3>
        {% endif %} -->

        {% with component='post'%}
        {% include 'modules/comment.html' %}
        
        {% endwith %}
    </div>

    
</body>
</html>