<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets Connect</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>

    <div id="CANVAS_long">
        {% include 'nav.html' %}

        <div id="interface_block_one">
            <div class = 'dashboard'>
                {% for image in images %}
                    <div class = dimage>
                        <a href="/dashboard/{{image.id}}"><button type ='button'><img class = 'cropped' src ={{image.pet_img.url}}></button></a>
                        <div class= "stats">
                            <p class = 'name'>{{image.name}}</p>
                            <p>
                                <a href="/process_like_love/{{image.id}}/0"><i class="fas fa-thumbs-up"></i></a> {{image.likes.count}} 
                                <a href="/process_like_love/{{image.id}}/1"><i class="fas fa-heart"></i></a> {{image.loves.count}} 
                                <button type = 'button' data-toggle='modal' data-target='#{{image.id}}' ><i class="fas fa-comment-alt"></i></button> {{image.comments.count}}
                            </p>
                        </div>
                    </div>  
                {% endfor %}
                </div>  
        </div>  <!-- END INTEFACE -->

    {% include 'modal.html' %}  
</body>
<script>

    var current_image = '{{current_image.id}}'
    if (current_image != 0 ){
        $('#comment_modal').modal('show');
        var isVisible = $('#comment_modal').is(':visible');
        console.log(isVisible)
    }

    var modal = document.getElementById('.modal-dialog');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
       alert('not')
    }
    }
    

    // $('#CANVAS_long').click(function(){
    //     console.log('onclick')
        
    //     var isVisible = $('.modal').is(':visible');

    //     if(isVisible){
    //         console.log("in focus")
    //         wasOpened == true;
    //     }

    //     if(wasOpened==true && isVisible == true){
    //         wasOpened=false;
    //         window.location='/dashboard/0'
    //     }

    // })
    

    

    $( ".dimage" )
    .mouseover(function() {
        $("#TOP_long").css('opacity', '.99');
        $( this ).css('opacity', '.6')
    });

    $( ".dimage" )
    .mouseleave(function() {
        $(this).css('opacity', '1')
    });

</script>
</html>