<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets Connect</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Damion" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>

    <div id="CANVAS_long">
        {% include 'nav.html' %}
    
        <div id="interface_block_one">
            <div class = 'dashboard'>
                {% for image in images %}
                    <div id= {{image.id}} class = dimage>
                        <a href="/dashboard/{{image.id}}#{{image.id}}"><button type ='button'><img  class = 'cropped' src ={{image.pet_img.url}}></button></a>
                        <div class="stats">
                            <p class = 'name'>{{image.desc}}</p>
                            {% include 'stats.html' %}
                        </div>
                    </div>  
                {% endfor %}
                </div>  
        </div>  <!-- END INTEFACE -->

    {% include 'modal.html' %}  
</body>
<script>


    var current_image = '{{current_image.id}}'
    if (current_image != 0 ){
        $('#comment_modal').modal('show');
        
    } 
    

    $(function() {
        jQuery(".fa-podcast[title]").tooltip();
        jQuery(".fa-heart[title]").tooltip();
        jQuery(".fa-comment-alt[title]").tooltip();
    });



    $( "img" )
    .mouseover(function() {
        
        $("#TOP_long").css('opacity', '.99');
        $( this ).css('opacity', '.6')
    });

    $( "img" )
    .mouseleave(function() {
        $(this).css('opacity', '1')
    });

    
</script>
</html>