<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets Connect</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>

    <div id="CANVAS_long">
        {% include 'nav.html' %}


        <div id="interface_block_one">
            {% include 'test.html'%}

            <div class = 'dashboard'>
                {% for image in images %}
                <div class = dimage>
                    <button type ='button' data-toggle='modal' data-target='#{{image.id}}'><img class = 'cropped' src ={{image.pet_img.url}}></button>
                    <div class= "stats">
                        <p class = 'name'>{{image.name}}</p>
                        <p>
                            <a href="/process_like_love/{{image.id}}/0"><i class="fas fa-thumbs-up"></i></a> {{image.likes.count}} 
                            <a href="/process_like_love/{{image.id}}/1"><i class="fas fa-heart"></i></a> {{image.loves.count}} 
                            <button type = 'button' data-toggle='modal' data-target='#{{image.id}}' ><i class="fas fa-comment-alt"></i></button> {{image.comments.count}}
                        </p>
                    </div>
                </div>
                
                
                
                <!-- MODAL -->
                <div id="{{image.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">

                                <div class ='left'>
                                    <img class="cropped2" src = {{image.pet_img.url}}>
                                    <div class = 'stats'>
                                        <p>
                                            <a href="/process_like_love/{{image.id}}/0"><i class="fas fa-thumbs-up"></i></a> {{image.likes.count}} 
                                            <a href="/process_like_love/{{image.id}}/1"><i class="fas fa-heart"></i></a> {{image.loves.count}} 
                                            <button type = 'button' data-toggle='modal' data-target='#{{image.id}}' ><i class="fas fa-comment-alt"></i></button> {{image.comments.count}}
                                        </p>
                                    </div>
                                    <p>Posted by:{{image.user.first_name}}</p>
                                    <p>{{image.desc}}</p>
                                </div>

                                <div class= 'right'>
                                <p class = 'name'>{{image.name}}</p>
                                <div class = 'comments'>
                                    {% for comment in image.comments.all reversed %}
                                        <p><b>{{comment.user.first_name}}:</b> {{comment.text}}</p>
                                    {% endfor %}
                                </div>

                                {% if image.comments.count > 7 %}
                                    <p class= "scroll">Scroll For More Comments</p>
                                {% endif %}

                                <form class = "post_comment" action = '\process_add_comment' method ='post'>
                                    {% csrf_token %}
                                    <input name = 'text' placeholder="Add a Comment...">
                                    <input type="hidden" name = 'image_id' value= '{{image.id}}'>
                                    <button type ='submit'> POST </button>
                                </form>

                             

                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <!-- END MODAL -->

            {% endfor %}  
            </div>
        
 
    
    </div>  <!-- END CANVAS -->
</body>
<script>

    var current_image = '{{current_image}}'
    if (current_image != 0){
        document.getElementById(current_image).className = "modal";
        $(`#${current_image}`).modal('show'); 
    }

    $( ".dimage" )
    .mouseover(function() {
        $("#TOP_long").css('opacity', '.99');
        $( this ).css('opacity', '.6')
    });

    $( ".dimage" )
    .mouseleave(function() {
        $(this).css('opacity', '1')
    });

</script>
</html>