<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>

    <div id="CANVAS_long">
        <div id="TOP_long">
            <nav>
                <h2>Pets Connect</h2>
                <a href="#">Dashboard</a>
                <a href = '/logout'>Add Photo</a>
                <a href='/users/edit_self'> Profile</a>
                <a href = '/logout'>Log Off</a>
            </nav>
        </div>
        


        <div id="interface_block_one">
            <h2>Welcome {{current_user.first_name}}!</h2>
            <h3>(Normal Account) </h3>
            <table>
                <tr>
                    <th class= "id">id</th>
                    <th class = 'name'>name</th>
                    <th class = 'email'>email</th>
                    <th class= "created_at">created_at</th>
                    <th class = 'level'>level</th>
                </tr>
                {% for user in users %}
                <tr>
                    <!-- EDIT 1 TO CHOSEN USER ID -->
                    <td>{{user.id}}</td>
                    <td><a href='/users/show/{{user.id}}'>{{user.first_name}} {{user.last_name}}</a></td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    <!-- EDIT 1 TO CHOSEN USER ID -->
                    <!-- ADD REMOVE MESSAGE BOX -->

                    {% if user.user_level == 9 %}
                    <td>admin</td>
                    {% else %}
                    <td>normal</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div> <!-- END INTERFACE -->

    </div>  <!-- END CANVAS -->
</body>
</html>