<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'scripts/headerlinks.html' %}
    <title>Pets Connect</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static '/css/edit_user.css' %}">
</head>
<body>
    <div id="CANVAS_long">
        {% include 'modules/nav.html' %}


        <div id="interface_block_one" class='edit_user'>
            <div class = 'heading'>
                <div class = 'profile_info'>
                    
                    {% with user=session_user %}
                        {% include 'modules/user_img.html' %}
                    {% endwith %}
                    {% if session_user.user_name != 'guest' %}
                    <form enctype="multipart/form-data" action="/process_edit_user" method="post">
                    {% else %}
                    <form>
                    <p>As a guest you are not allowed to edit these fields</p>
                    {% endif %}
                        <!-- <a href=''> RECIEVE EMAIL NOTIFICATIONS: <span>False</span></a> -->
                        {% csrf_token %}
                        <input type= 'text' value = '{{session_user.user_name}}' name = 'user_name'> 
                        <input type= 'text' value = '{{session_user.email}}' name = 'email'> 
                        {{ user_upload_img.as_p}}
                        <div>
                            <button type ='submit'> SUBMIT </button>
                            <a href= '/profile/{{session_user.id}}/0/1'><button type='button'>CANCEL</button></a>
                        </div>
                    </form>
                </div>

                {% include 'modules/modal.html' %}

    </div>  <!-- END CANVAS -->
</body>

</html>