<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'scripts/headerlinks.html'%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets Connect - Explore</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static '/css/explore.css' %}">
    <script src="{% static '/js/reloadscript.js' %}"></script>   
  
</head>
<body>

    <div id="CANVAS_long">
        {% include 'modules/nav.html' %}
    
        <div id="interface_block_one">
            <div class = 'dashboard'>
                {% if session_user.user_name == "guest" and request.session.counter == 0 %}
                <div class = 'guest_message'>
                    <p>This is a guest account. Some features, such as profile editing and comment deleting, have been disabled. To experience all of the features Pets Connect has to offer, make an account (with dummy information) and enjoy your stay! </p>
                    <h2 class='close_guest_message'>Close</h2>
                </div> 
                {% endif %}

                {% for image in images2 %}
                <div id = {{image.id}} class = 'dimage'>
                    {% include 'modules/image.html' %} 
                </div>
                {% endfor %}
                
            </div>

    <div id='replaceModal'>
        {% include 'modules/modal.html' %} 
    </div>

</body>
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
</html>