<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'scripts/headerlinks.html'%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets Connect - Explore</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static '/css/explore.css' %}">
    {%for image in images2 %}
    <img style='position:absolute; opacity:0' rel = 'preload' height='1px' src = '{{image.pet_img.url}}'>
    {% endfor %}
    <script src="{% static '/js/reloadscript.js' %}"></script>   

</head>
<body>
    
    <div id="CANVAS_long">
        {% include 'modules/nav.html' %}
        <div id="interface_block_one">
            <div id='get_more' class = 'dashboard'>
                <aside class = 'icons'>
                    <div>
                        <i class ='fas fa-heart'></i><p>Love a Pet</p>
                        <i class ='fas fa-podcast'></i><p>Follow a User</p> 
                    </div>
                    <div>
                        <i class ='fas fa-comment-alt'></i><p>Comment</p>
                        <i class ='fas fa-users'><a href ='/bulletin/{{session_user.id}}/0/0'></a></i><p><a href ='/bulletin/{{session_user.id}}/0/0'>Your Followers</a></p>
                    </div>
                    <div>
                        <i class ='fas fa-user'><a href ='/profile/{{session_user.id}}'></a></i><p><a href ='/profile/{{session_user.id}}'>Edit Profile</a></p>
                        <i class ='fas fa-compass'></i><p>Browse Pets</p>  
                    </div>
                </aside>
               
                        {% with location='explore' %}   
                        {% include 'modules/share_pet.html' %}
                        {% endwith %}
           
                {% with num=randomNumbers|random %}
                {% for image in images2 %}
                    {% include 'modules/image.html' %} 
                {% endfor %}
                {% endwith %}
                
            </div>

    <div id='replaceModal'>
        {% include 'modules/modal.html' %} 
    </div>
    
</body>
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
</html>