<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'scripts/headerlinks.html'%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets Connect</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static '/css/explore.css' %}">
    <script src="{% static '/js/reloadscript.js' %}"></script>   
  
</head>
<body>

    <div id="CANVAS_long">
        {% include 'modules/nav.html' %}
    
        <div id="interface_block_one">
            <div class = 'dashboard'>
                {% if session_user.user_name == "guest" %}
                    <p class = 'guest_message'>This is a guest account. Some features such as profile editing have been disabled. Make an account (even with a dummy email), to experience all the features Pets Connect has to offer. Enjoy your stay!</p>
                {% endif %}
                {% for image in images %}
                    {% include 'modules/image.html' %} 
                {% endfor %}
                
            </div>

    <div id='replaceModal'>
        {% include 'modules/modal.html' %} 
    </div>

</body>
<script>

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

</script>
</html>