<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>

    <div id="CANVAS_long">
        <div id="TOP_long">
            <nav>

                <h2 >Pet's Connect</h2>
                    <a href="/"> Home</a>
                    <a href = '/signin'>Sign in</a>
            
            </nav>
        </div>


        <div id="interface_block_one">
            <div class="jumbotron">
                <div class="light">
                <h1 class="display-4">Pet's Connect</h1>
                <h3 class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec pretium tortor. Quisque blandit feugiat odio et sollicitudin. Vivamus vitae dui id mauris dignissim maximus nec et quam.</h3>
                <p>
                    <a class="btn btn-primary btn-lg" href="/signin" role="button">Start</a>
                </p>
            </div>
            </div>

            <div class = "bottom">
                <div>
                    <h2>
                        Message Friends
                    </h2>
                    <p>Lorem ipsum dolor sit amet mo dolor sit amet te Interdum et malesuada fames ac faucibus. Curabitur nec pretium tortor.  </p>
                    <a href="#">Learn More</a>
                </div>

                <div>
                    <h2>
                        Leave Comments
                    </h2>
                    <p>Lorem ipsum dolor sit amet te amet Interdum et ma.  Curabitur nec pretium tortor.</p>
                    <a href="#">Learn More</a>
                </div>
                <div>
                    <h2>
                        Edit Your Profile
                    </h2>
                    <p>Lorem ipsum dolor sit mo dolor sit amet te ametnte. Etiam tristique.  Curabitur nec pretium tortor.  </p>
                    <a href="#">Learn More</a>
                </div>
        </div> <!-- END INTERFACE -->
        </div>


    </div>  <!-- END CANVAS -->
</body>
</html>