<div id="TOP_long">
    <nav>
        <div>
            <h2>PetsConnect</h2>
            <div>
                <a href = '{{url}}'><i data-placement="bottom" title= {{title}} class="{{icon}}"></i></a>
                <a href = '/logout'><i class="fas fa-arrow-alt-circle-right" data-placement="bottom" title= 'Sign Out' ></i></a>
            </div>
        </div>
    </nav>
</div>
<script>
    $(function() {

        $(".fa-arrow-alt-circle-right[title]").tooltip();
        $(".fa-table[title]").tooltip();
        $(".fa-camera[title]").tooltip();
    });
</script>