<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'new.css' %}">
</head>
<body>

    <div id="CANVAS_long">



        <div id="TOP_long">
            <nav>
                <h2>Pets Connect</h2>
                <a href="/dashboard">Dashboard</a>
                <a href = '#'>Add Photo</a>
                <a href='/users/edit_self'> Profile</a>
                <a href = '/logout'>Log Off</a>
            </nav>
        </div>
        </div>
        

        <div id="interface_block_two">
            <div id="left_main">
                    <!--CHANGE FORM ACTION PROCESS_REGISTER -->
                <form action="/process_register" method="post">
                <h2 class ='form_h2'>Add new User</h2>
                {% csrf_token %}
                <div class="form_row"><label class ='form_label' for = 'email'>Email Address </label> <input class='form_input' name = 'email' type = 'email'></div>
                <div class="form_row"><label class ='form_label' for = 'first'>First Name </label> <input class='form_input' name = 'first' type = 'text'></div>
                <div class="form_row"><label class ='form_label' for = 'last'>Last Name </label> <input class='form_input' name = 'last' type = 'text'></div>
                <div class="form_row"><label class ='form_label' for = 'pass'>Password </label> <input class='form_input' name = 'pass' type = 'password'></div>
                <div class="form_row"><label class ='form_label' for = 'confirm'>Confirm Password </label> <input class='form_input' name = 'confirm' type = 'password'></div>
                <div class="form_row_right"><button class ='form_button' type ='submit'> Create </button></div>
                </form>       
            </div>      <!-- END LEFT -->      
                
            
            <div id="right_main"> 
                    <a class="form_row_button_with_title single" href = '/dashboard/admin'><button class ='form_button' type ='submit'> Return to Dashboard </button></a>
            </div>    <!-- END RIGHT -->  
                
        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
    
</body>
</html>