<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'scripts/headerlinks.html' %}
    <title>Pets Connect - Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
    <script src="{% static '/js/reloadscript.js' %}"></script>   
   
</head>
<body>
    <div id="CANVAS_long">
        {% include 'modules/nav.html' %}


        <div id="interface_block_one">
            <div class = 'heading'>
                <div class = 'profile_info'>
                    
                        {% with user=clicked_user %}
                        {% include 'modules/user_img.html' %}
                        {% endwith %}
                    

                        
                    
                    <div>
                        <h2>{{clicked_user.user_name}}</h2> 
                        <h2>{{clicked_user.email}}</h2>
                        <p>Followers <b>{{clicked_user.being_followed.all.count}}</b> |
                            Following <b>{{clicked_user.is_following.all.count}} </b> |
                            Posts <b>{{clicked_user.images.all.count}} </b> | 
                            Hearts: <b><span class = 'heart_sum'>{{heart_sum}}</span></b></span></p>
                        {% if session_user == clicked_user %}
                            <a href='/edit_user/{{session_user.id}}'> EDIT PROFILE </a> 
                        {% else %}
                            {% if clicked_user in session_user.is_following.all %}
                            <a href='/process_follow/{{clicked_user.id}}/0'> STOP FOLLOWING </a>
                            {% else %}
                            <a href='/process_follow/{{clicked_user.id}}/0'> FOLLOW USER</a>
                            {% endif %}
                            
                        {% endif %}
                    </div>
                </div>

                {% if session_user == clicked_user %}
                <form class="share_pet" enctype="multipart/form-data" action = '/process_add_pet_image' method ='post'>
                    <h3>Share Your Pet</h3>
                    {% csrf_token %}
                        <label for ='name'>Enter Pet Name</label>     
                        <input type='text' name ='name' minlength= '1' maxlength="10" placeholder="Pets name">
                        <label for = 'desc'>Describe the Photo</label>  
                        <input name = 'desc' maxlength="50" placeholder="Description">
                        <input type="hidden" name = 'user_id' value= '{{session_user.id}}'>
                        {{ upload_pet_form.as_p}}           
                        
                        <ul class="messages">
                        {% for message in messages %}
                            {% if messages %}
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endif %} 
                        {% endfor %}
                        </ul>
                        
                        <button type ='submit'> <i class="fas fa-cloud-upload-alt"></i> POST</button>
                </form>
            
                {% endif %}

            </div>

            {% if session_user == clicked_user %}
            <h3>Your Shared Pets</h3>
            {% else %}
            <h3>{{clicked_user.user_name}}'s Pets</h3>
            {% endif %}
            <div class = 'dashboard'>
                {% with location='profile' %}
                {% with user_id=clicked_user.id %}
                {% for image in images %}
                <div id = {{image.id}} class = 'dimage'>
                    {% include 'modules/image.html' %} 
                </div>
                {% endfor %}
                {% endwith %}
                {% endwith %}
            </div>

            <div id='replaceModal'>
                {% include 'modules/modal.html' %} 
            </div>
        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
</body>

<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>

</html>