<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body>

    <div id="CANVAS_long">



        <div id="TOP_long">

            <nav>
                <h2>Pet's Connect</h2>

                <a href="/"> Home</a>
                <a href = '/signin'>Sign in</a>
  
            </nav>

        </div>


        <div id="interface_block_one">
            <div>   
                <h2 class ='form_h2'>Register</h2>
                <form action="/process_register" method="post">
                {% csrf_token %}
                <div class="form_row"><label class ='form_label' for = 'email'>Email Address </label> <input class='form_input' name = 'email' type = 'email'></div>
                <div class="form_row"><label class ='form_label' for = 'first'>First Name </label> <input class='form_input' name = 'first' type = 'text'></div>
                <div class="form_row"><label class ='form_label' for = 'last'>Last Name </label> <input class='form_input' name = 'last' type = 'text'></div>
                <div class="form_row"><label class ='form_label' for = 'pass'>Password </label> <input class='form_input' name = 'pass' type = 'password'></div>
                <div class="form_row"><label class ='form_label' for = 'confirm'>Confirm Password </label> <input class='form_input' name = 'confirm' type = 'password'></div>
                <div class="form_row_button"><button class ='form_button' type ='submit'> Register </button></div>
                <a href = "/signin">Already have an account? Sign In</a>
                </form>
                
                
            


            </div>      <!-- END LEFT -->      
            
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                
        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
    
</body>
</html>