<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    {% include 'scripts/headerlinks.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static '/css/signin.css' %}">
</head>
<body>

    <div id="CANVAS_long">



        <div id="TOP_long">

            <nav>
                <div>
                    <h2>PetsConnect</h2>
                    <div>
                        <a href = '/'> Home</a>
                        <a href = '/signin'> Sign In</a>
                    </div>
                </div>
            </nav>
            
        </div>
    


        <div id="interface_block_one">
                <h2>Register</h2>
                <form action="/process_register" method="post">
                    {% csrf_token %}

                    <label for = 'email'>Email Address </label> 
                    <input name = 'email' type = 'email'placeholder='ex: ksm@gmail.com'>

                    <label for = 'first'>Username </label> 
                    <input name = 'first' type = 'text' maxlength="15" placeholder='ex: ksm'>

                    <label for = 'pass'>Password </label>
                    <input name = 'pass' type = 'password'>
                
                    <label for = 'confirm'>Confirm Password </label> 
                    <input name = 'confirm' type = 'password'>
                    <div>
                        <button class="btn btn-primary btn-lg"  type ='submit'> Register </button>
                        <a href = "/signin">Already have an account? Sign In</a>
                    </div>
                </form>  
            
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                
        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
    
</body>
</html>