<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'show.css' %}">
</head>
<body>

    <div id="CANVAS_long">
        <div id="TOP_long">
            <nav>
                <div class="nav_left">
                    <h2 class = 'h2_nav'>Test App</h2>
                    <!--  CHANGE DASBOARD LINK -->
                    <a href='/dashboard' class = 'h2_nav'> Dashboard</a>
                    <!-- CHANGE 1 TO THIS USERS ID -->
                    <a href='/users/edit_self' class = 'h2_nav'> Profile</p>
                </div>
                <div class="nav_right">
                    <a class = 'nav_right h2_nav' href = '/logout'>Log Off</a>
                </div>
            </nav>
        </div>


        <div id="interface_block_one">
            <h1 class ='info_h1 bold'> {{user.first_name}} {{user.last_name}}</h1>
            <div class="info_block_1">
                    <!-- ADD USERNAME -->
                <div><p class = 'info'>Registered at:</p><p>{{user.created_at}}</p></div>
                <div><p class = 'info'>User ID:</p><p>#{{user.id}}</p></div>
                <div><p class = 'info'>Email address:</p><p>{{user.email}}</p></div>
                <div><p class = 'info'>Description:</p><p>{{user.desc}}</p></div>
            </div>


            <form class = 'msg_post' action = '\process_add_message' method ='post'>
                {% csrf_token %}                
                <div class="form_row">
                    <!-- ADD USERNAME -->
                <p class = 'msg_post_title bold' > Post a Message for {{user.first_name}}</p>
                <textarea class = 'msg_post' name = 'text'></textarea>
                <input type="hidden" name = 'user_id' value= '{{user.id}}''>
                <div class="form_row_button"><button class ='form_post_button' type ='submit'> POST </button></div>
                </div>
            </form>

            {% for message in user_messages %}
            <div class="info_block_1">
                <a href='/users/show/{{message.user_form.id}}'>{{message.user_from.first_name}}</a> posts:
                <p class ='info_h1 msg'> {{message.text}}</p>
                {% for comment in message.comments.all %}
                    <div class="info_block_2">
                        <a href='/users/show/{{message.user_to.id}}'>{{comment.message.user_to.first_name}}</a> comments:</p>
                        <p class ='info_h1 comment'> {{comment.text}}</p>
                    </div>
                    {% endfor %}
                <form class = 'msg_comment' action = '\process_add_comment' method ='post'>
                    {% csrf_token %}
                    <div class="form_row">
                    <textarea class = 'msg_comment' name = 'text'>post a commment</textarea>
                        <input type="hidden" name = 'message_id' value= '{{message.id}}'>
                    <div class="form_row_button"><button class ='form_comment_button' type ='submit'> POST </button></div>
                    </div>
                </form>
            </div>
            {% endfor %}



        </div> <!-- END INTERFACE -->


    </div>  <!-- END CANVAS -->
</body>
</html>